<div class="mainDiv"><h1> Weather App</h1>

<p-dropdown [options]="keralaDistricts" [(ngModel)]="selectedDistricts"[placeholder]="selectedDistricts?.name" optionLabel="name"
	[showClear]="true" (click)="SelectDistrict()">
</p-dropdown>

<div>
  <p-card [header]="wheatherDetails?.name" [subheader]="wheatherDetails?.weather[0].description" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <!-- <img alt="Card" src=""> -->
        <div>
        <p-gmap #gmap [options]="options" [overlays]="overlays" [style]="{width:'100%',height:'220px'}"
    (onMapReady)="setMap($event)"></p-gmap>
  </div>
  <div class="imgDiv">
    <img style="height: 100px;width: 100px;"
    src="http://openweathermap.org/img/w/{{wheatherDetails.weather[0].icon}}.png"
    >
  </div>  
  </ng-template>
    <div class="listDiv">
      <div class="singleDiv">
        <li>Humidity</li>
        <label>{{wheatherDetails?.main?.humidity}}</label>

      </div>
      <div class="singleDiv">
        <li>Pressure</li>
        <label>{{wheatherDetails?.main?.pressure}}</label>

      </div>
      <div class="singleDiv">
        <li>Max temperature</li>
        <label>{{wheatherDetails?.main?.temp_max}}</label>

      </div>
      <div class="singleDiv">
        <li>min Temperature</li>
        <label>{{wheatherDetails?.main?.temp_min}}</label>

      </div>

    </div>
</p-card>


</div>




</div>